.scooty-view {
  background-color: rgba(255, 255, 255, 1);
}
.scooty-color-view {
  background-color: rgba(244, 244, 244, 1);
}
.footer-view {
  background-color: rgba(0, 0, 0, 1);
}
.storie-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.storie {
  font-size: 25px;
  font-family: Pathway Extreme;
  font-weight: 600;
}
.sparkling {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Pathway Extreme;
}
.default {
  border-radius: 50%;
  width: 30px; /* Adjust the width and height as needed */
  height: 30px;
  margin-right: 10px;
}
.gray{
   background-color: rgba(160, 202, 187, 1);
}
.blue{
    background-color: rgba(112, 116, 133, 1);
}
.darkBlue{
    background-color: rgba(35, 58, 120, 1);
}
.skyBlue{
    background-color: rgba(147, 212, 222, 1);
}
.lightSkyBlue{
    background-color: rgba(147, 212, 222, 1);
}
.red{
    background-color: rgba(180, 32, 37, 1);
}
.white{
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid;
}
.yellow{
    background-color: rgba(245, 210, 102, 1);
}
.scooty-img-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.scooty-pic{
    height: 270px;
    width: 370px;
}
@media (max-width: 576px) {
    .scooty-pic{
        height: 170px;
        width: 270px;
    }
  }
.rupees {
  font-family: Pathway Extreme;
  font-size: 35px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
}
@media (max-width: 576px) {
    .rupees{
        font-size: 20px;
    }
  }
.rupee-icon {
  height: 28px;
  width: 28px;
}
.rupee-cont {
  display: flex;
  align-items: center;
}
.price-cont {
  display: flex;
  justify-content: space-between;
}
.ex-showroom {
  font-family: Pathway Extreme;
  font-size: 10px;
}
.new-delhi {
  font-family: Pathway Extreme;
  font-size: 10px;
  font-weight: 600;
}
.incl {
  font-size: 10px;
  font-family: Pathway Extreme;
  color: rgba(0, 0, 0, 1);
}
.main-cont {
  border: 2px solid red;
  margin-top: 40px;
}
.rupees2 {
  font-family: Pathway Extreme;
  font-size: 25px;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
}
.select-mode {
  font-family: Pathway Extreme;
  font-weight: 600;
  font-size: 13px;
}
.details {
  font-family: Pathway Extreme;
  font-weight: 600;
  font-size: 13px;
  color: gray;
}
.choose-color {
  font-family: Pathway Extreme;
  font-weight: 600;
}
.check {
  font-family: Pathway Extreme;
  font-weight: 600;
  margin-left: 20px;
}
@media (max-width: 576px) {
  .check {
    margin-left: 5px;
  }
}
.scooty-img {
  height: 100px;
  width: 150px;
}
.card1 {
  display: flex;
}
.picked-color {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
@media (max-width: 576px) {
  .picked-color {
    height: 20px;
    width: 20px;
  }
}

.selected-gray {
    background-color: rgba(160, 202, 187, 1)!important;
}
.selected-blue {
  background-color: rgba(112, 116, 133, 1);
}
.selected-dark-blue {
  background-color: rgba(35, 58, 120, 1);
}
.selected-sky-blue {
  background-color: rgba(147, 212, 222, 1);
}
.selected-light-sky-blue {
  background-color: rgba(197, 219, 244, 1);
}
.selected-red {
  background-color: rgba(180, 32, 37, 1);
}
.selected-white {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid gray;
}
.selected-yellow {
  background-color: rgba(245, 210, 102, 1);
}
.confirm-btn {
  background-color: rgba(0, 0, 0, 1);
  cursor: pointer;
  height: 25px;
  padding: 25px;
  font-family: Pathway Extreme;
  color: #fff;
}
.footer-head {
  font-size: 50px;
  font-family: Pathway Extreme;
  color: rgba(255, 255, 255, 1);
}
.input-el {
  height: 55px;
  font-family: Pathway Extreme;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  width: 75%;
  padding: 30px;
  outline: none;
}
.sub-btn {
  height: 59px;
  font-family: Pathway Extreme;
  font-weight: 600;
  font-size: 13px;
  background-color: rgba(228, 228, 228, 1);
  border: none;
  padding: 21px;
  width: 25%;
}
.input-cont {
  width: 45%;
}
@media (max-width: 576px) {
  .input-cont {
    width: 100%;
  }
  .input-el {
    width: 70%;
  }
  .sub-btn {
    width: 30%;
  }
  .footer-head {
    font-size: 27px;
    margin-bottom: 25px;
  }
}
.adress {
  font-family: Pathway Extreme;
  color: rgba(228, 228, 228, 1);
  font-size: 13px;
}
.list-cont {
  list-style-type: none;
  padding-left: 0px;
}
.list-child {
  font-family: Pathway Extreme;
  color: rgba(228, 228, 288, 1);
}
.child-head {
  font-family: Pathway Extreme;
}
.icons-cont {
  width: 15%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .icons-cont {
    width: 50%;
  }
}
.privacy-policy {
  font-family: Pathway Extreme;
  font-size: 13px;
  font-weight: 600;
}
